@font-face { 
    font-family: 'Montserrat'; 
    src: url('fonts/Montserrat-ExtraBold.woff2') format('woff2'), url('fonts/Montserrat-ExtraBold.woff') format('woff'); 
} 
.logo { 
    display: block; 
    margin: 0 auto 10px auto; 
    width: 20vw; max-width: 180px; 
    height: auto;
} 
nav { 
    display: flex; 
    justify-content: center; 
    gap: 2.5rem; 
    padding: 1rem 0; background-color: #e0f0ff;
    border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    font-family: 'Montserrat', Verdana, sans-serif; 
} 
nav a { 
    text-decoration: none; 
    color: #004080; 
    font-weight: 600; 
    font-size: 1.1rem; 
    padding: 0.3rem 0.6rem; 
    border-radius: 6px; 
    transition: background-color 0.3s, color 0.3s; 
} 
nav a:hover { 
    background-color: #004080; 
    color: #ffffff; 
} 
nav button { 
    cursor: pointer; 
    background-color: #007acc; 
    color: white; 
    border: none; 
    padding: 0.4rem 0.9rem; 
    border-radius: 6px; 
    font-weight: 600; 
    font-size: 1rem; 
    transition: background-color 0.3s; 
} 
nav button:hover { 
    background-color: #05f3; 
} 
header { 
    background-color: #ffff; 
    color: white; 
    padding: 1.5em 1em; 
    text-align: center; 
    border-bottom: 5px solid #357ABD; 
} 
h1 { 
    font-family: 'Montserrat', Verdana, sans-serif; font-size: 1.5em; 
    font-weight: 800; margin: 0.5em 0; 
} 
body {
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: #222222;
    font-family: 'Montserrat', Verdana, sans-serif;
    font-weight: 800;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  @media (max-width: 600px) {
    body {
      padding: 1rem 1rem;
      font-size: 1rem;
    }
    nav {
      flex-direction: column;
      gap: 1rem;
    }
  }